{# templates/components/block-text-image.html.twig #}

<div
    class="derafu-block-text-image {{ attributes.render('class') }}"
    {{ attributes }}
    id="{{ this.id }}"
>
    <div class="row align-items-center">
        {# Text Column #}
        <div class="col-md-{{ this.cols }} {% if this.imagePosition == 'left' %}order-md-2{% endif %}">
            <div class="derafu-block-text-image__content">
                <h2 class="derafu-block-text-image__title">{{ this.title }}</h2>
                <div class="derafu-block-text-image__text">
                    {{ this.content|raw }}
                </div>
                {% if this.buttons|length > 0 %}
                    <div class="derafu-block-text-image__buttons">
                        {% for button in this.buttons %}
                            <a href="{{ button.url }}" class="derafu-block-text-image__button">
                                {{ button.text }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        {# Image Column #}
        <div class="col-md-{{ 12 - this.cols }} {% if this.imagePosition == 'left' %}order-md-1{% endif %}">
            <div class="derafu-block-text-image__image">
                <img src="{{ this.image }}" alt="{{ this.title }}" class="img-fluid">
            </div>
        </div>
    </div>
</div>
