{# templates/components/block-image.html.twig #}
<div
    class="derafu-block-image derafu-block-image--{{ align }} derafu-block-image--{{ size }} {{ attributes.render('class') }}"
    {{ attributes }}
    id="{{ this.id }}"
>
    <div class="derafu-block-image__wrapper">
        {% if this.title %}
            <h2 class="derafu-block-image__title">{{ this.title|raw }}</h2>
        {% endif %}

        <div class="derafu-block-image__image">
            <img src="{{ this.image }}" alt="{{ this.title }}" class="img-fluid">
        </div>

        {% if this.content %}
            <div class="derafu-block-image__content">
                {{ this.content|raw }}
            </div>
        {% endif %}

        {% if this.buttons|length > 0 %}
            <div class="derafu-block-image__buttons">
                {% for button in this.buttons %}
                    <a href="{{ button.url }}" class="derafu-block-image__button {{ button.url ? '' : 'disabled' }}">
                        {{ button.text }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
