{# templates/components/block-alert.html.twig #}
<div class="derafu-block-alert
    {{ class ?? '' }}
    {{ container is not null ? container : 'w-full' }}"
    {% if id is not null and id != '' %}id="{{ id }}"{% endif %}
>
    <div class="alert alert-{{ type }} d-flex align-items-center" role="alert">
        {% if icon %}
            <i class="{{ icon }} derafu-block-alert__icon"></i>
        {% endif %}
        <div>
            {{ content|raw }}
        </div>
    </div>
</div>
