{# templates/components/block-card.html.twig #}
<div class="derafu-block-card {{ class }}"
     style="
        {% if marginTop %}margin-top: {{ marginTop }};{% endif %}
        {% if marginBottom %}margin-bottom: {{ marginBottom }};{% endif %}
        {% if marginLeft %}margin-left: {{ marginLeft }};{% endif %}
        {% if marginRight %}margin-right: {{ marginRight }};{% endif %}
        {% if margin %}margin: {{ margin }};{% endif %}
    ">
    <div class="card" id="{{ id }}">
        {% if image %}
            <img src="{{ image }}" class="card-img-top" alt="{{ title }}">
        {% endif %}
        <div class="card-body">
            {% if title %}
                <h5 class="card-title">{{ title | raw }}</h5>
            {% endif %}
            {% if description %}
                <p class="card-text">{{ description | raw }}</p>
            {% endif %}
            {% if buttonText and buttonUrl %}
                <a href="{{ buttonUrl }}" class="btn btn-primary">
                    {{ buttonText }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
