{# templates/components/block-accordion.html.twig #}
<div class="derafu-block-accordion
    {{ class ?? '' }}
    {{ container is not null ? container : 'w-full' }}"
    {% if id is not null and id != '' %}id="{{ id }}"{% endif %}
>
    <div class="accordion border" id="{{ id }}-accordion">
        {% for key, item in items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button {% if not item.active %}collapsed{% endif %}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ id }}-collapse-{{ key }}"
                        aria-expanded="{{ item.active ? 'true' : 'false' }}"
                        aria-controls="{{ id }}-collapse-{{ key }}"
                    >
                        {{ item.title|raw }}
                    </button>
                </h2>
                <div
                    id="{{ id }}-collapse-{{ key }}"
                    class="accordion-collapse collapse {% if item.active %}show{% endif %}"
                    data-bs-parent="#{{ id }}-accordion"
                >
                    <div class="accordion-body">
                        {{ item.content|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
