{# templates/components/block-offcanvas.html.twig #}
<div class="offcanvas offcanvas-{{ position }}"
    tabindex="-1"
    id="{{ id }}"
    aria-labelledby="{{ id }}-label"
    {% if not backdrop %}data-bs-backdrop="false"{% endif %}
    {% if scroll %}data-bs-scroll="true"{% endif %}>

    {% if title or showClose %}
        <div class="offcanvas-header">
            {% if title %}
                <h5 class="offcanvas-title" id="{{ id }}-label">{{ title }}</h5>
            {% endif %}
            {% if showClose %}
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            {% endif %}
        </div>
    {% endif %}

    <div class="offcanvas-body">
        {{ content|raw }}

        {% if buttons|length > 0 %}
            <div class="derafu-block-offcanvas__buttons">
                {% for button in buttons %}
                    <button type="button"
                        class="btn btn-{{ button.type|default('secondary') }}"
                        {% if button.dismiss|default(false) %}data-bs-dismiss="offcanvas"{% endif %}
                        {{ button.attributes|default('')|raw }}>
                        {{ button.text }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
