{# templates/components/block-box.html.twig #}
<div class="derafu-block-box
    {{ rounded ? 'derafu-block-box__rounded' : '' }}
    {{ class ?? '' }}
    {{ container is not null ? container : 'w-full' }}"
    {% if id is not null and id != '' %}id="{{ id }}"{% endif %}
>
    <h3 class="derafu-block-box__title">{{ title }}</h3>
    {% if content is not null %}
        <div class="derafu-block-box__content">{{ content | raw }}</div>
    {% endif %}
</div>
