{# templates/components/block-cta.html.twig #}
<div class="{{ container ?? 'container-fluid' }} derafu-block-cta {{ class ?? '' }}"
    {% if id is not null and id != '' %}id="{{ id }}"{% endif %}
>
    <div class="derafu-block-cta__container container">
        <div class="derafu-block-cta__row row align-items-center">
            {# Text Section #}
            <div class="col-md-{{ text_cols }} derafu-block-cta__content">
                <h3 class="derafu-block-cta__title">{{ title|raw }}</h3>
                <p class="derafu-block-cta__description">{{ description|raw }}</p>
            </div>

            {# Button Section #}
            <div class="col-md-{{ button_cols }} derafu-block-cta__action">
                <a href="{{ button_url }}" class="derafu-block-cta__button">
                    {{ button_text }}
                </a>
            </div>
        </div>
    </div>
</div>
