{# templates/components/block-toast.html.twig #}
<div class="derafu-block-toast {{ class }}
    {% if margin_top is defined %}mt-{{ margin_top }}{% endif %}
    {% if margin_bottom is defined %}mb-{{ margin_bottom }}{% endif %}"
    id="{{ id }}">
    <div class="toast show bg-{{ type }} border-{{ type }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            {% if icon %}
                <i class="{{ icon }} derafu-block-toast__icon me-2"></i>
            {% endif %}
            {% if title %}
                <strong class="me-auto text-body-{{ type }}">{{ title }}</strong>
            {% endif %}
            {% if time %}
                <small class="text-body-secondary">{{ time }}</small>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        {% if content %}
            <div class="toast-body">
                {{ content }}
            </div>
        {% endif %}
    </div>
</div>
