{# templates/components/block-features-list.html.twig #}

<div class="derafu-block-features-list {{ attributes.render('class') }}" {{ attributes }} id="{{ this.id }}">
    <div class="derafu-block-features-list__row">
        {# Left column #}
        <div class="derafu-block-features-list__column derafu-block-features-list__column--left">
            {% for feature in this.featuresLeft %}
                <div class="derafu-block-features-list__item derafu-block-features-list__item--right">
                    <div class="derafu-block-features-list__content">
                        <h3 class="derafu-block-features-list__title">{{ feature.title|raw }}</h3>
                        <div class="derafu-block-features-list__content">
                            {{ feature.content|raw }}
                        </div>
                    </div>
                    <div class="derafu-block-features-list__icon">
                        <i class="{{ feature.icon }}"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# Right column #}
        <div class="derafu-block-features-list__column derafu-block-features-list__column--right">
            {% for feature in this.featuresRight %}
                <div class="derafu-block-features-list__item derafu-block-features-list__item--left">
                    <div class="derafu-block-features-list__icon">
                        <i class="{{ feature.icon }}"></i>
                    </div>
                    <div class="derafu-block-features-list__content">
                        <h3 class="derafu-block-features-list__title">{{ feature.title|raw }}</h3>
                        <div class="derafu-block-features-list__content">
                            {{ feature.content|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
