{# templates/components/block-hero.html.twig #}
<div class="{{ container ?? 'container' }} derafu-block-hero derafu-block-hero--{{ size }} {{ class ?? '' }}"
    {% if id is not null and id != '' %}id="{{ id }}"{% endif %}
    {% if background is not empty %}style="background-image: url('{{ background }}')"{% endif %}
>
   <div class="derafu-block-hero__container container">
       <div class="derafu-block-hero__content derafu-block-hero__content--{{ align }}
           {% if contentBackground is not empty %}derafu-block-hero__content--with-background{% endif %}">
           <h1 class="derafu-block-hero__title">{{ title|raw }}</h1>
           <div class="derafu-block-hero__subtitle">{{ subtitle|raw }}</div>
           {% if buttons is not empty %}
               <div class="derafu-block-hero__buttons">
                   {% for button in buttons %}
                       <a href="{{ button.url }}" class="btn derafu-block-hero__button derafu-block-hero__button--{{ button.theme|default('primary') }}">
                           {{ button.text }}
                       </a>
                   {% endfor %}
               </div>
           {% endif %}
       </div>
   </div>
</div>
