{# templates/components/block-card-grid.html.twig #}

<div class="derafu-block-card-grid {{ attributes.render('class') }}" {{ attributes }} id="{{ this.id }}">
    <div class="row g-4">
        {% for card in this.cards %}
            <div class="col-sm-6 {% if this.cols == 1 %}col-lg-12
                {% elseif this.cols == 2 %}col-lg-6
                {% elseif this.cols == 3 %}col-lg-4
                {% elseif this.cols == 4 %}col-lg-3
                {% else %}col-lg-2{% endif %}
                {% if card.offset is not null %}offset-lg-{{ card.offset }}{% endif %}
            ">
                {% if card.url %}
                    <a href="{{ card.url }}" class="derafu-block-card-grid__card derafu-block-card-grid__card--linked">
                {% else %}
                    <div class="derafu-block-card-grid__card">
                {% endif %}

                    {% if card.image %}
                        <div class="derafu-block-card-grid__image">
                            <img src="{{ card.image }}" alt="{{ card.title }}">
                        </div>
                    {% endif %}

                    {% if card.icon %}
                        <div class="derafu-block-card-grid__icon">
                            <span class="{{ card.icon }}"></span>
                        </div>
                    {% endif %}

                    <div class="derafu-block-card-grid__body">
                        {% if card.label %}
                            <p class="derafu-block-card-grid__label">{{ card.label }}</p>
                        {% endif %}

                        {% if card.title %}
                            <h3 class="derafu-block-card-grid__title">{{ card.title|raw }}</h3>
                        {% endif %}

                        {% if card.content %}
                            <div class="derafu-block-card-grid__content">
                                {{ card.content|raw }}
                            </div>
                        {% endif %}
                    </div>

                    {% if card.buttonText %}
                        <div class="derafu-block-card-grid__footer">
                            <a href="{{ card.buttonUrl }}"
                               class="btn w-100
                                       {% if card.buttonColor is defined and card.buttonColor %}btn-{{ card.buttonColor }}{% else %}btn-primary{% endif %}
                                       {% if card.buttonUrl is empty %}disabled{% endif %}"
                               role="button"
                               {% if card.buttonStyle is defined and card.buttonStyle %}style="{{ card.buttonStyle }}"{% endif %}>
                                {{ card.buttonText }}
                            </a>
                        </div>
                    {% endif %}

                {% if card.url %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
