{# templates/components/block-quote.html.twig #}
<div class="derafu-block-quote {{ style }}" id="{{ id }}">
    <div class="derafu-block-quote__container {{ container }}">
        <figure class="derafu-block-quote__figure">
            <div class="derafu-block-quote__icon derafu-block-quote__icon--left">
                <i class="fa-solid fa-quote-left"></i>
            </div>
            <div class="derafu-block-quote__icon derafu-block-quote__icon--right">
                <i class="fa-solid fa-quote-right"></i>
            </div>
            <blockquote class="derafu-block-quote__content">
                <p>{{ quote|raw }}</p>
            </blockquote>
            <div class="derafu-block-quote__author">
                {% if image %}
                    <img src="{{ image }}"
                            alt="{{ author }}"
                            class="derafu-block-quote__author-image" />
                {% endif %}
                <div class="derafu-block-quote__author-info">
                    {% if author %}
                        <span class="derafu-block-quote__author-name">{{ author|raw }}</span>
                    {% endif %}
                    {% if source %}
                        <span class="derafu-block-quote__author-source">{{ source|raw }}</span>
                    {% endif %}
                </div>
            </div>
        </figure>
    </div>
 </div>
