{# templates/components/block-box.html.twig #}
<section class="block-box {{ this.theme }}" id="{{ this.id }}">
    <div class="{{ this.container }}">
       <div class="text-highlight text-highlight-{{ this.theme | replace({'theme-': ''}) }}">
            <h3 class="text-highlight-title">{{ this.title }}</h3>
            <div class="text-highlight-content">{{ this.text }}</div>
        </div>
    </div>
</section>
