{# templates/components/block-card-grid.html.twig #}
<div class="derafu-block-card-grid {{ style }}" id="{{ id }}">
    <div class="row g-4">
        {% for card in cards %}
            <div class="col-sm-6 {% if cols == 1 %}col-lg-12
                {% elseif cols == 2 %}col-lg-6
                {% elseif cols == 3 %}col-lg-4
                {% elseif cols == 4 %}col-lg-3
                {% else %}col-lg-2{% endif %}">

                <div class="derafu-block-card-grid__card">
                    {% if card.image %}
                        <div class="derafu-block-card-grid__image">
                            <img src="{{ card.image }}" alt="{{ card.title }}" class="img-fluid">
                        </div>
                    {% endif %}

                    <div class="derafu-block-card-grid__content">
                        {% if card.title %}
                            <h3 class="derafu-block-card-grid__title">{{ card.title }}</h3>
                        {% endif %}

                        {% if card.description %}
                            <div class="derafu-block-card-grid__description">
                                {{ card.description|raw }}
                            </div>
                        {% endif %}
                    </div>

                    {% if card.button_text %}
                        <div class="derafu-block-card-grid__footer">
                            <a href="{{ card.button_url }}" class="derafu-block-card-grid__button btn {% if card.button_url is empty %}disabled{% endif %}" role="button">
                                {{ card.button_text }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
