{# templates/components/block-hero.html.twig #}
<section class="block-hero theme-{{ this.theme }} block-hero--{{ this.size }} block-hero--{{ this.align }}"
    {% if this.background is not empty %}
    style="background-image: url('{{ this.background }}')"
    {% endif %}
>
    <div class="block-hero__container container">
        <div class="block-hero__content">
            <h1 class="block-hero__title">{{ this.title }}</h1>
            <div class="block-hero__subtitle">{{ this.subtitle }}</div>

            {% if this.buttons is not empty %}
                <div class="block-hero__buttons">
                    {% for button in this.buttons %}
                        <a href="{{ button.url }}" class="btn block-hero__button block-hero__button--{{ button.theme|default('primary') }}">
                            {{ button.text }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
