{# templates/components/block-title.html.twig #}
<div class="derafu-block-title {{ style }}" id="{{ id }}">
    <div class="derafu-block-title__wrapper text-{{ align }}{% if bottomBorder %} derafu-block-title__wrapper--bordered{% endif %}">
        <h{{ level }} class="derafu-block-title__title">
            {{ title|raw }}
        </h{{ level }}>
        {% if subtitle %}
            <p class="derafu-block-title__subtitle">
                {{ subtitle|raw }}
            </p>
        {% endif %}
    </div>
</div>
