{# templates/components/block-hero.html.twig #}
<div class="derafu-block-hero derafu-block-hero--{{ size }} derafu-block-hero--{{ align }} {{ style }}"
    {% if background is not empty %}style="background-image: url('{{ background }}')"{% endif %} id="{{ id }}">
    <div class="derafu-block-hero__container">
        <div class="derafu-block-hero__content">
            <h1 class="derafu-block-hero__title">{{ title }}</h1>
            <div class="derafu-block-hero__subtitle">{{ subtitle }}</div>
            {% if buttons is not empty %}
                <div class="derafu-block-hero__buttons">
                    {% for button in buttons %}
                        <a href="{{ button.url }}" class="btn derafu-block-hero__button derafu-block-hero__button--{{ button.theme|default('primary') }}">
                            {{ button.text }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
