{# templates/components/block-card.html.twig #}
<div class="derafu-block-card {{ style }}">
    <div class="card" style="width: 18rem;" id="{{ id }}">
        {% if image %}
            <img src="{{ image }}" class="card-img-top" alt="{{ title }}">
        {% endif %}
        <div class="card-body">
            {% if title %}
                <h5 class="card-title">{{ title }}</h5>
            {% endif %}
            {% if description %}
                <p class="card-text">{{ description }}</p>
            {% endif %}
            {% if buttonText and buttonUrl %}
                <a href="{{ buttonUrl }}" class="btn btn-primary">
                    {{ buttonText }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
