{# templates/components/block-table.html.twig #}
<section class="block-table theme-{{ this.theme }}" id="{{ this.id }}">
    <div class="{{ this.container }}">
        <table class="table table-striped table-bordered table-hover theme-{{ this.theme }}">

            <thead>
                <tr>
                    {% for header in this.headers %}
                        <th scope="{{ header.scope }}">{{ header.text }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in this.rows %}
                    <tr>
                        <th scope="{{ row.id.scope }}">{{ row.id.text }}</th>
                        <td>{{ row.nombre }}</td>
                        <td>{{ row.empresa }}</td>
                        <td>{{ row.correo }}</td>
                        <td>{{ row.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>