{# templates/components/block-text-image.html.twig #}
<div class="derafu-block-text-image {{ style }}" id="{{ id }}">
    <div class="row align-items-center">
        {# Text Column #}
        <div class="col-md-{{ text_cols }} {% if image_position == 'left' %}order-md-2{% endif %}">
            <div class="derafu-block-text-image__content">
                <h2 class="derafu-block-text-image__title">{{ title }}</h2>
                <div class="derafu-block-text-image__text">
                    {{ content|raw }}
                </div>
                {% if buttons|length > 0 %}
                    <div class="derafu-block-text-image__buttons">
                        {% for button in buttons %}
                            <a href="{{ button.url }}" class="derafu-block-text-image__button">
                                {{ button.text }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        {# Image Column #}
        <div class="col-md-{{ image_cols }} {% if image_position == 'left' %}order-md-1{% endif %}">
            <div class="derafu-block-text-image__image">
                <img src="{{ image }}" alt="{{ title }}" class="img-fluid">
            </div>
        </div>
    </div>
</div>
