{# templates/components/block-video-grid.html.twig #}
<div class="derafu-block-video-grid {{ style }}" id="{{ id }}">
    <div class="derafu-block-video-grid__wrapper grid-cols-{{ cols }}">
        {% for key, video in videos %}
            <div class="derafu-block-video-grid__item{% if not video.card %} derafu-block-video-grid__item--simple{% endif %}" id="{{ id }}-{{ key }}">
                {% if video.card %}
                    {% if video.title %}
                        <h2 class="derafu-block-video-grid__title">{{ video.title }}</h2>
                    {% endif %}
                {% endif %}

                <div class="derafu-block-video-grid__media">
                    <iframe
                        class="derafu-block-video-grid__player"
                        src="{{ video.video|replace({'watch?v=': 'embed/'}) }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                {% if video.card %}
                    {% if video.description %}
                        <div class="derafu-block-video-grid__description">
                            {{ video.description|raw }}
                        </div>
                    {% endif %}

                    {% if video.buttons|length > 0 %}
                        <div class="derafu-block-video-grid__buttons">
                            {% for button in video.buttons %}
                                <a href="{{ button.url }}" class="derafu-block-video-grid__button">
                                    {{ button.text }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
