{# templates/components/block-alert.html.twig #}
<div class="derafu-block-alert {{ class }}">
    <div class="alert alert-{{ type }} d-flex align-items-center" role="alert" id="{{ id }}">
        {% if icon %}
            <i class="{{ icon }} derafu-block-alert__icon"></i>
        {% endif %}
        <div>
            {{ content|raw }}
        </div>
    </div>
</div>
