{# templates/components/block-modal.html.twig #}
<div class="derafu-block-modal {{ style }}" id="{{ id }}">
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if modal.title %}
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modal.title }}</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if modal.content %}
                    <div class="modal-body">
                        <p>{{ modal.content }}</p>
                    </div>
                {% endif %}

                {% if modal.button_primary or modal.button_secondary %}
                    <div class="modal-footer">
                        {% if modal.button_secondary %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                {{ modal.button_secondary.text }}
                            </button>
                        {% endif %}
                        {% if modal.button_primary %}
                            <button type="button" class="btn btn-primary">
                                {{ modal.button_primary.text }}
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
