{# templates/components/block-features-grid.html.twig #}
<section class="block-features-grid theme-{{ this.theme }}">
    <div class="container">
        <div class="block-features-grid__row">
            {% for block in this.blocks %}
                <div class="block-features-grid__block">
                    <div class="block-features-grid__header">
                        <h3 class="block-features-grid__title">{{ block.title }}</h3>
                        <p class="block-features-grid__subtitle">{{ block.subtitle }}</p>
                    </div>

                    <div class="block-features-grid__features">
                        {% for feature in block.features %}
                            <div class="block-features-grid__feature">
                                <div class="block-features-grid__icon">
                                    <i class="{{ feature.icon }}"></i>
                                </div>
                                <div class="block-features-grid__content">
                                    <h4 class="block-features-grid__feature-title">{{ feature.title }}</h4>
                                    <div class="block-features-grid__description">
                                        {{ feature.description|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
