{# templates/components/block-photo.html.twig #}
<div class="derafu-block-photo {{ style }} derafu-block-photo--{{ align }} derafu-block-photo--{{ size }}" id="{{ id }}">
    <div class="derafu-block-photo__wrapper">
        {% if title %}
            <h2 class="derafu-block-photo__title">{{ title }}</h2>
        {% endif %}

        <div class="derafu-block-photo__image">
            <img src="{{ image }}" alt="{{ title }}" class="img-fluid">
        </div>

        {% if description %}
            <div class="derafu-block-photo__description">
                {{ description|raw }}
            </div>
        {% endif %}

        {% if buttons|length > 0 %}
            <div class="derafu-block-photo__buttons">
                {% for button in buttons %}
                    <a href="{{ button.url }}" class="derafu-block-photo__button">
                        {{ button.text }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
